
<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gym App · Users</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Fondamento|Righteous&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/home_admin"><img class="logo" src="../img/logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home_admin">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/employees">Employees</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/packages">Packages <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a class="btn btn-secondary btn-lg" href="/index">Sign Out</a>
        </form>
      </div>
    </nav>

<br><br>

<section>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="/dashboard" class="list-group-item list-group-item-action">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
                <a href="/users" class="list-group-item list-group-item-action"><i class="fas fa-users-cog"></i> Manage Users</a>
                <a href="/employees" class="list-group-item list-group-item-action"><i class="fas fa-address-card"></i> Manage Employees</a>
                <a href="/packages" class="list-group-item list-group-item-action active"><i class="fas fa-clipboard-list"></i> Manage Packages</a>
                
              </div>
        </div>
        <div class="col-md-9 table-div">
              <div class="row">
                      <div class="col-md-6">
                          <h1 class="page-header"><i class="fas fa-users-cog"></i> Packages</h1>
                      </div>
                  </div>
                  <hr>
                      <h3>Edit Package</h3>
                      <br>
            <form action="#" th:action="@{/packages/save}" th:object="${a_package}" method="post">
                        <div class="form-group">
                            <label>Package ID</label>
                            <input type="text" th:field="*{id}" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label>Package Name</label>
                            <input type="text" th:field="*{name}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input type="number" th:field="*{price}" class="form-control">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:field="*{gymaccess}" value="">
                            <label class="form-check-label" >
                              Gym Access
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:field="*{groupactivities}" value="">
                            <label class="form-check-label" >
                              Group Activities
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:field="*{personaltrainer}" value="">
                            <label class="form-check-label" >
                              Personal Trainer
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:field="*{nutritionist}" value="">
                            <label class="form-check-label" >
                              Nutritionist
                            </label>
                          </div>
                          <br>
                        <button type="submit" class="btn btn-admin btn-primary">Submit</button>
                      </form>

          <hr>        
        </div>
      </div>
    </div>
  </section>

  </br></br></br>

    <footer>
      <div>
        <p>The Gym &copy; Design By Adela</p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../js/bootstrap.js"></script>
  </body>
</html>
