
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gym App · Wellcome</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Fondamento|Righteous&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/home_admin"><img class="logo" src="img/logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home_admin">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/employees">Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/packages">Packages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a class="btn btn-secondary btn-lg" href="/">Sign Out</a>
        </form>
      </div>
    </nav>

    <section>
      <div class="jumbotron home">
        <div class="overlay">
          <div class="row">
          <div class="col-md-7 text">
            <h1 class="display-4">Wellcome to The Gym!</h1>
            <p class="lead">The Gym is specious and well-equipped gym. It provides you with qualified professional stuff: trainers,
              personal trainers and nutritionists.
              </p>
            <hr class="my-4">
            <p>Modern Equipment | Professional Stuff | Personalised Programs</p>
            <a class="btn btn-primary btn-lg" href="#about" role="button">About Us</a>
          </div>
        </div>
        </div>
      </div>
    </section>
<a name="about"></a>
    <section class="about">
      <div class="row">
        <div class="col-md-12">
          <div class="card text-white bg-primary mb-3 mx-auto" style="max-width: 80%;">
            <div class="card-header">THE GYM | ABOUT US</div>
            <div class="card-body">
              <h4 class="card-title">Culpa distinctio autem</h4>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa distinctio autem fugit quasi optio provident praesentium dolorum! Itaque ratione illo nam? Rem ducimus quaerat ullam sapiente libero impedit deserunt laboriosam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio vel hic eius amet, in quibusdam dolores tempore voluptas mollitia commodi aliquid veritatis magnam autem explicabo, cum perferendis. Eius, illum similique.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

  </br>

    <section>
      <div class="row text-center">
        <div class="col-md-4">
          <div class="card border-primary mb-3 mx-auto" style="max-width: 20rem;">
            <div class="card-header">Basic</div>
            <div class="card-body">
              <h4 class="card-title">$ 60.00</h4>
              <p class="card-text">
              <ul>
                <li><i class="fas fa-check-double"></i> Gym Access</li>
                <li><i class="fas fa-times"></i> Group Activities</li>
                <li><i class="fas fa-times"></i> Personal Trainer</li>
                <li><i class="fas fa-times"></i> Nutritionist</li>
              </ul>
              </p>
              <a href="#" class="card-link btn btn-primary btn-lg">Sign Up</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-primary mb-3 mx-auto" style="max-width: 20rem;">
            <div class="card-header">Classic</div>
            <div class="card-body">
              <h4 class="card-title">$ 99.00</h4>
              <p class="card-text">
              <ul>
                <li><i class="fas fa-check-double"></i> Gym Access</li>
                <li><i class="fas fa-check-double"></i> Group Activities</li>
                <li><i class="fas fa-times"></i> Personal Trainer</li>
                <li><i class="fas fa-times"></i> Nutritionist</li>
              </ul>
              </p>
              <a href="#" class="card-link btn btn-primary btn-lg">Sign Up</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-primary mb-3 mx-auto" style="max-width: 20rem;">
            <div class="card-header">Premium</div>
            <div class="card-body">
              <h4 class="card-title">$ 220.00</h4>
              <p class="card-text">
              <ul>
                <li><i class="fas fa-check-double"></i> Gym Access</li>
                <li><i class="fas fa-check-double"></i> Group Activities</li>
                <li><i class="fas fa-check-double"></i> Personal Trainer</li>
                <li><i class="fas fa-check-double"></i> Nutritionist</li>
              </ul>
              </p>
              <a href="#" class="card-link btn btn-primary btn-lg">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </section>

  </br></br></br>

    <footer>
      <div>
        <p>The Gym &copy; Design By Adela</p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
